footer {
  font-family: "HK Grotesk";
  font-style: normal;
  color: var(--off-black-color);
  background-color: #f8f8f8;
  position: relative;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}

.footer-container {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  min-width: 60%;
}
.footer-container div:first-child {
  gap: 2rem;
}

.logo {
  width: 9.6rem;
  height: 3.4rem;
}

.footer-container .footer h3, .footer-container .footer p {
  font-weight: 400;
  max-width: 29rem;
}

.footer-container .footer h3 {
  font-size: 1.8rem;
  line-height: 2.3rem;
}

.footer-container .footer p {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.footer-container .footer {
  justify-content: space-between;
}

.footer-container .footer h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
}

.footer-container div:nth-child(2),
div:nth-child(3) {
  gap: 2rem;
  font-weight: 400;
  font-size: 17px;
  line-height: 33px;
}
