/* || RESET CSS ----------------------------------------------------------------------------------*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* || BASE CSS -----------------------------------------------------------------------------------*/
a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,li {
  list-style-type: none;
}

:root {
  --background-color:#FFFFFF;
  --off-background-color:#F6F6F6;
  --primary-color: #1E5EF3;
  --off-black-color:#434343;
}



